*{
    margin:0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: grid;
    height: auto;
    width: 90%;
    margin: 0 auto;
    grid-template-rows: 110px 600px 500px 200px;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    grid-column: 1;
    grid-row: 1;
    background-color:#F2163E;
}
.cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.catalogo{
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    
    
}  
.tres-productos{
    width: 100%;
    height: 500px;
    grid-column: 1;
    grid-row: 3;
}

.logo{
    width: 230px;
    height: 100px;
}
/* ______________________________________ */

nav ul{
    display: flex;
    list-style: none;
    text-align: center;
    margin: 15px 15px;
    font-size: 20px;
    font-weight: bold;
       
}
nav ul li{
    margin: 0;
    padding: 0 30px;
    
}
nav ul li a{
    padding: 10px 10px;
    text-decoration: none;
    color:white;
    display: block;
    margin: 0;
    padding: 0;
}

nav ul li:hover{
    border: 2px solid;
    border-color: #73060F;
    background-color: #73060F; 
    color:aquamarine

}
nav ul li:active{
    padding: 2px;
}
.catalogo-foto{
 
    width: 100%;
    height:600px;
}
.producto-prin{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #F2163E;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 30px;
    color: black;

}
.pro-relevantes{
    display: flex;
    justify-content: space-evenly;
}

.p1{
    text-align: center;
    color: black;
    
}
footer{
    width: 100%;
    height: 200px;
    grid-column: 1;
    grid-row: 4;
    background-color:#F2163E;
    display: flex;
    justify-content: center;
}
.redes{
    width: 170px;
}
.p2{
    padding: 5px 10px 10px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
h2{
    padding: 20px 10px 10px 10px;
}
#check{
    display: none;
}
.checkbtn{
      
    display: none;
}
/* Media para pagina principal */
@media(max-width:768px){

    .container{
        text-align: center;
        align-items: center;
        justify-content: center;
        grid-template-rows: 200px 200px 910px 500px;
        flex-direction: column;
        width: 350px;   
        margin: 0 auto;
    }
    header{
        height: auto;
        width: 350px;
        display: block;
        flex-direction: column; 
    }
    .logo{
        position: sticky;
        top: 0px;
        left: auto;
    }
   
    .cont{
        flex-direction: column;
        width: 350px;
        height: auto;
        align-items: center; 
        justify-content: center;
        
    }
    /* ____________________________ */
    .checkbtn{
      
        display: block;
        position: sticky;
        top: 100px;
    }
    .menu{
        display: block;
        font-size: 70px;
        margin:  0px;
        cursor: pointer;
             
    }
    nav{
        align-items: center;
        display: block;
    }
    nav ul{
        position: relative;
        width: 350px;
        height: 300px;
        background: coral;
        
        top: 150px;
        left: -100%;
        display: none;
        z-index: 1;
        text-align: center;
        transition: all 0.5s;
        padding-top: 15px;
        
    }
    #check:checked ~  ul{
        left:0px;
        display: block;
    }
    nav ul:active{
        display: block;
        
    }

    nav ul li a:hover{
        border:2px solid;
        border-color: black;
        width: auto;
        height: auto;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;

    }
    nav ul li a{
        display: block;
        font-size: 20px;
    }

    nav ul{
        flex-direction: column; 
    }
    nav ul li a:hover{
        border:2px solid;
        border-color: black;
        width: auto;
        height: auto;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;

    }
    nav ul li a{
        display: block;
        font-size: 20px;
    }
    nav ul li a:hover{
        border-color: crimson;
    }
    nav ul li a:active{
        padding: 1px;
    }
    li a:hover li a.active{
        background: none;
    }
    
    /* ____________________________ */
    .catalogo{
        width: 350px;
        
    }
    .catalogo-foto{
        width: 350px;
        height: 215px;
    }
    h1{
        font-size: 25px;
    }
    .tres-productos{
        /* background-color: black; */
        height: 900px;
    }
    .pro-relevantes{
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 750px;
        flex-direction: column; 
    }
    .producto-prin{
        width: 200px;
        height: 200px;
    }
    footer{
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 510px;
        flex-direction: column; 
    }
    
}
